<!DOCTYPE html>
<html>
<title>UNIVANDS</title>
<head>
<meta charset="UTF-8">
</head>

<body>


	<div>
		<form action="/aluno/" method="post">
			{% csrf_token %}
			<label for="curso">Curso</label>
			
			<select name="curso_id" id="curso">
			{% for curso in cs  %}
				<option value="{{curso.id}}">{{  curso.sigla }}</option>
			{% endfor %}
			</select>


			<label>RA</label>
			<input name="ra" required="" type="number"/>
			<label>Nome</label>
			<input name="nome" required="" type="text"/>
			<label>Email</label>
			<input name="email" required="" type="email"/>
			<input type="submit" value="Submit" />
		</form>
	</div>

	<div>
	{% for aluno in alunos  %}
		<p>{{aluno.nome}}</p>
	{% endfor %}

      
	</div/>